<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.administrator.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MySearchNotRoundActivity"/>
        <activity android:name=".activity.MyClickActivity">
        </activity>
        <activity android:name=".activity.MySwitchActivity">
        </activity>
        <activity android:name=".activity.MyPopActivity">
        </activity>
        <activity android:name=".activity.MyDiaActivity">
        </activity>
        <activity android:name=".activity.MyNewCallActivity">
        </activity>
        <activity android:name=".activity.MyTopDiaActivity">
        </activity>
        <activity android:name=".activity.MyImageSeeActivity">
        </activity>
    </application>

</manifest>